.choices {
  display: flex;
  margin-bottom: 1.2%;
  width: 100%;
  font-size: 20px;
  border: 1px solid rgb(143, 84, 120);
  background-color: aliceblue;
}

.choices:hover {
  transform: scale(1.03);
  transition: transform 300ms;
  color:rgb(54, 35, 59);
  background-color:rgb(255, 255, 255);
  box-shadow: 0 0.8rem 1.8rem 0 rgba(212, 52, 172, 0.5);
}

.choice-option {
  padding: 1.5rem 2.5rem;
  background-color: #282129;
  color: white;
}

.choice-ans {
  padding: 1.5rem;
  width: 100%;
}
.correct {
  background-color:rgb(47, 255, 64);
}
.incorrect {
  background-color: red;
}

#hud {
  display: flex;
  justify-content: space-between;
}

.hud-index {
  text-align: center;
  font-size: 16px;
}

.hud-main {
  text-align: center;
}